@page
@model Razor.WebPages.Pages.NotFoundModel
@{
    ViewData["Title"] = "Not Found";
}

<div class="row">
    <div class="col text-center">
        <h1>Not Found</h1>
        <a asp-page="/Products/Products" class="btn-primary">Click here to get back to Products list page</a>
    </div>
</div>


